.main_info
{
    height: 500px;
    font-family: 'Oxygen';
    background-image: url(../image/MAIN.jpg);
    color: #2E2E2E;
}

.logo
{
    color: #2E2E2E;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
}

.head_menu
{
    color: #2E2E2E;
}

.main_text
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.main_undertext
{
    color: #2E2E2EA1;
    font-weight: 400;
    font-size: 17px;
}

.main_button
{
    height: 44px;
    background: #DD783F;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
}

.head_menu:link
{
    color: #FFFFFF;

}

.submenu
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF;
    color: #768088;
}

.sub_header
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 20px;
    color: #2E2E2E;
}

.main_post_1
{
    color: #FFFFFFB2;
    background-image: url(..//image/nothern.png) ;
    height: 280px;
    border-radius: 3px;
    
}
.main_post_2
{
    color: #FFFFFFB2;
    background-image: url(..//image/kid.png);
    height: 280px;
    border-radius: 3px;
    
}


.post_text
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

.footer_menu
{
    background-image: url(..//image/footer.png);
    height: 89px;
}

.logo_under
{
    color: #FFFFFF;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
}