.head__logo
{
    color: #2E2E2E;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
}

.head-menu
{
    color: #2E2E2E;
}

.top-block__title
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.top-block__subtitle
{
    color: #2E2E2EA1;
    font-weight: 400;
    font-size: 17px;
}

a:link 
{
    color: #2E2E2E;
    text-decoration: none;
}
  
a:visited 
{
    color: #2E2E2E;
    text-decoration: none;
}
  
a:focus 
{
    color: #2E2E2E;
    text-decoration: none;
}
  
a:hover 
{
    color: #2E2E2E;
    text-decoration: none;
}
  
a:active 
{
    color: #2E2E2E;
    text-decoration: none;
}

.post
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

.foot
{
    background: url(../image/footer.png) no-repeat;
    color: #FFFFFF;
    background-position: center;
    background-size: 100%;
    margin: 0;
    height: 89px;
    font-family: 'Oxygen';
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 27px;
    padding-right: 250px;
    padding-left: 918px;
}

.foot__logo
{
    color: #FFFFFF;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    display: flex;
}
