body
{
    margin: 0px;
}

.head
{
    display: flex;
    position: absolute;
    right: 25%;
    left: 25%;
}

.head__logo
{
    color: #FFFFFF;
    font-family: 'Lora';
    font-style: normal;
    font-size: 26px;
    margin-right: 491px;
    margin-left: calc(50% - 470px);
    margin-top: 20px;
}

.head-menu
{
    font-family: 'Oxygen';
    font-size: 12px;
    color: #FFFFFF;
    height: 40px;
    margin-top: 33px;
    display: flex;
    justify-content: stretch;
}
.head-menu a
{
    color: #FFFFFF;
    text-decoration: none;
}

.head-menu__link
{
    padding-left: 20px;
    padding-right: 20px;
}
.top-block
{
    height: 500px;
    font-family: 'Oxygen';
    background: url(../image/MAIN.jpg) no-repeat;
    color: #FFFFFF;
    background-position: center;
    background-size: 100%;
    right: 25%;
    left: 25%;

}

.submenu a 
{ 
    color: #768088; 
    text-decoration: none;
}

.top-block__title
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;
    padding-top: 177px;    
}

.top-block__subtitle
{
    color: rgba(255, 255, 255, 0.63);
    font-weight: 400;
    font-size: 17px;
    margin: 0px;
    text-align: center;
    margin-top: 20px;
}

.top-block__button
{
    height: 44px;
    width: 167px;
    background: #DD783F;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    margin-top: 31px;
    margin-left: calc(50% - (167px / 2));

}


.submenu
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    height: 65px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 25%;
    margin-left: 25%;
}

.featured
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;    
}

.featured-posts
{
    font-family: 'Oxygen';
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 50%;
    left: 25%;

}

.featured-posts__title
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding-top: 60px;
    height: 27px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-decoration-color:  #DEDEDE;
    text-underline-offset: 16px;
}

.featured-post
{
    color: #FFFFFFB2;
    height: 280px;
    width: 460px;
    border-radius: 3px;
}

.featured-post__marka
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    width: 87px;
    height: 26px;
    background-color: #DD783F;
    margin-left: 29px;
    margin-top: 26px;
}

.featured-post__the-road-ahead
{
    background: url(..//image/nothern_feature.png) no-repeat;
}

.featured-post__from-the-down
{
    background: url(..//image/kid.png) no-repeat;
}

.featured-post-declaration
{
    padding-left: 20px;
    padding-top: 157px;
    padding-right: 20px;
}

.featured-post__subtitle
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;

}

.featured-post-subdeclaration
{
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 420px;
    height: 25px;
}

.featured-post__description
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}

.featured-post__author
{
    color:#FFFFFFB2;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
}

.featured-post__author-photo
{
    height: auto;
    width: auto;
    padding-right: 10px;
}

.featured-post__data
{
    color: #FFFFFFB2;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    margin-left: auto;
}

.most-recent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
}

.most-recent-posts
{
    display: flex;
    flex-wrap:wrap;
    width: 50%;
    padding-bottom: 108px;
    justify-content: space-around;
}

.most-recent-posts__title
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding-top: 60px;
    height: 27px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-decoration-color:  #DEDEDE;
    text-underline-offset: 16px;
}

.most-recent-post
{
    height: 291px;
    width: 296px;;
    background: #F7F7F7;
    margin-top: 25px;
    margin-bottom: 25px;

}

.most-recent-post-caption
{
    height: 66px;
    background: #FFFFFF;
    padding-right: 13px;
    padding-top: 13px;
    padding: 13px;

}
.most-recent-post-caption__title
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    margin-top: 0px;
    margin-bottom: 0px;
}

.most-recent-post-caption__description
{
    color: #7A7A7A;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    padding-top: 7px;
    margin: 0px;

}

.most-recent-post-info
{   display: flex;
    align-items: center;
    background: #FCFCFC;
    border-radius: 0px;
    height: 48px;
    margin-top: 2px;
    padding-left: 13px;
    padding-right: 13px;
}

.most-recent-post__author-photo
{
    width: auto;
    height: auto;
}

.most-recent-post-info__author
{
    color: #999999;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    padding-left: 10px;
}

.most-recent-post-info__data
{
    color: #999999;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    line-height: 35px; 
    padding-left: 90px;
}

.basement
{
    background-color: #F7F7F7;
    background: url(../image/footerbackground.png) no-repeat;
    background-position: center;
    background-size: 100%;
    height:378px;
}

.basement-foot-feedback
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../image/footerbackground.png) no-repeat;
    background-position: center;
    background-size: 100%;
    height:378px;
}

.basement-feedback-title
{
    font-family: 'Oxygen';
    color: #EFEFEF;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center; 
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 40px;
    text-decoration-line: underline;
    text-decoration-color:  #DEDEDE;
    text-underline-offset: 16px;
}

.basement-feedback-form
{
    display: flex;
    padding: 0px;
    border: 0px;
    height: 50px;
    border: none;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;

}

.basement-feedback-form__field
{
    width: 375px;
    border-radius: 3px 0px 0px 3px;
    border: none;

}

.basement-feedback-form__button
{
    font-family: 'Oxygen';
    color: #EFEFEF;
    font-weight: 400;
    width: 125px;
    background: rgba(255, 255, 255, 0.28);
    border: none;
    border-radius: 0px 3px 3px 0px;
}

.basement-foot
{
    display: flex;
    left: calc(50% - 250px);
    margin: 0;
    height: 89px;
    font-family: 'Oxygen';
    background: rgba(35, 47, 56, 0.6);
    margin-bottom: 0px;
}

.basement-foot-menu
{
    font-family: 'Oxygen';
    font-size: 12px;
    color: #FFFFFF;
    height: 40px;
    margin-top: 33px;
    display: flex;
    justify-content: stretch;
}

.basement-foot-menu a
{
    color: #FFFFFF99;
    text-decoration: none;
}

.basement-foot-menu__link
{
    padding-left: 20px;
    padding-right: 20px;
}

.basement-foot__logo
{
    color: #FFFFFF;
    font-family: 'Lora';
    font-style: normal;
    font-size: 26px;
    margin-right: 491px;
    margin-left: calc(50% - 470px);
    margin-top: 20px;
}