body
{
    margin: 0px;
    background: #F7F7F7;
    
}

.head
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;
    width: 100%;

}

.head__logo
{
    color: #2E2E2E;
    font-family: 'Lora';
    font-style: normal;
    font-size: 26px;
    justify-content: flex-start;

}

.head-menu
{
    font-family: 'Oxygen';
    font-size: 12px;
    color: #2E2E2E;
    display: flex;
    gap:40px;
    justify-content: flex-end;

}
.head-menu a
{
    color: #2E2E2E;
    text-decoration: none;
}


.top-block__title
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #2E2E2E;
    text-align: center;
    margin-top: 110px;
}

.top-block__subtitle
{
    font-family: 'Oxygen';
    color: #2E2E2EA1;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 113px;
}

.top-block__nothern
{
    background-position: center;
    height: 100%;
    width: 100%;
}

.post
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 140px;
    margin-bottom: 140px;
    padding: 0px;
    
    
}

.post__substance
{
    margin: 0;
}

.basement
{
    background: url(../image/footerbackground.png) no-repeat;
    background-position: center;
    background-size: 100%;
    height:378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.basement-foot-feedback
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../image/footerbackground.png) no-repeat;
    background-position: center;
    background-size: 100%;
    height:378px;
}

.basement-feedback-title
{
    font-family: 'Oxygen';
    color: #EFEFEF;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center; 
    margin: 0px;
    padding-top: 80px;
    margin-bottom: 40px;
    text-decoration-line: underline;
    text-decoration-color:  #DEDEDE;
    text-underline-offset: 16px;
}

.basement-feedback-form
{
    padding: 0px;
    height: 50px;
    border: none;
    margin-bottom: 90px;
    display: flex;

}

.basement-feedback-form__field
{
    width: 375px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    padding-left: 35px;

}

.basement-feedback-form__button
{
    font-family: 'Oxygen';
    color: #EFEFEF;
    font-weight: 400;
    width: 125px;
    background: rgba(255, 255, 255, 0.28);
    border: none;
    border-radius: 0px 3px 3px 0px;
}

.basement-foot
{
    display: flex;
    margin: 0;
    font-family: 'Oxygen';
    background: rgba(35, 47, 56, 0.6);
    height: 89px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;


}

.basement-foot-menu
{
    font-family: 'Oxygen';
    font-size: 12px;
    color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    
 
    
}

.basement-foot-menu a
{
    color: #FFFFFF99;
    text-decoration: none;
}


.basement-foot__logo
{
    color: #FFFFFF;
    font-family: 'Lora';
    font-style: normal;
    font-size: 26px;
}