body
{
    margin: 0;
    background: #FFFFFF;
}

.head
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;


}

.head__logo
{
    color: #FFFFFF;
    font-family: 'Lora';
    font-style: normal;
    font-size: 26px;
}

.head-menu
{
    font-family: 'Oxygen';
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    gap:40px;
    justify-content: flex-end;
    
}
.head-menu a
{
    color: #FFFFFF;
    text-decoration: none;
}

.top-block
{
    height: 500px;
    font-family: 'Oxygen';
    background: url(../image/MAIN.jpg) no-repeat;
    color: #FFFFFF;
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.submenu a 
{ 
    color: #768088; 
    text-decoration: none;
}

.top-block__title
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;
    margin-top: 120px;
}

.top-block__subtitle
{
    color: rgba(255, 255, 255, 0.63);
    font-weight: 400;
    font-size: 17px;
    margin: 0px;
    text-align: center;
    margin-top: 20px;
}


.top-block-button__text
{
    height: 44px;
    width: 167px;
    background: #DD783F;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    margin-top: 31px;
}

.top-block-button
{
    margin-bottom: 120px;
}


.submenu
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 14px;
    display: flex;
    height: 65px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 25%;
    margin-left: 25%;
}

.featured
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: #F7F7F7;
    
}


.featured-posts
{
    font-family: 'Oxygen';
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 20px;
    margin-right: 25%;
    margin-left: 25%;
}

.featured-posts__title
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0;
    height: 27px;
    margin-top: 60px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-decoration-color:  #DEDEDE;
    text-underline-offset: 16px;
}

.featured-post
{
    color: #FFFFFFB2;
    height: 110px;
    width: 440px;
    border-radius: 3px;
    padding-top: 147px; 
    padding-left: 20px;
    padding-bottom: 30px;
    text-decoration: none; 
}

.featured-post__the-road-ahead
{
    background: url(/static/image/nothern_feature.png) no-repeat;
    /* background: url(..//image/nothernFeature.png) no-repeat; */
}

.featured-post__from-the-down
{
    background: url(/static/image/kid.png) no-repeat;
}


.featured-post__subtitle
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    margin: 20px 0 0 0;
    color: #FFFFFF;

}


.featured-post-subdeclaration
{
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 420px;
    height: 25px;
    padding-bottom: 50px;
}

.featured-post__description
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}

.featured-post__author
{
    color:#FFFFFFB2;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
}

.featured-post__author-photo
{
    height: auto;
    width: auto;
    margin-right: 10px;
}

.featured-post__data
{
    color: #FFFFFFB2;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    margin-left: auto;
}

.most-recent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
}

.most-recent-posts
{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 108px;
    justify-content: space-around;
    gap: 25px;
    margin-right: 25%;
    margin-left: 25%;
}

.most-recent-posts__title
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0;
    height: 27px;
    margin-top: 60px;
    margin-bottom: 39px;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-decoration-color:  #DEDEDE;
    text-underline-offset: 16px;
}

.most-recent-post
{
    height: 291px;
    width: 296px;;

}

.most-recent-post a 
{ 
    color: #768088; 
    text-decoration: none;
}

.most-recent-post__balloons
{
    background: url(../static/image/balloons.jpg) no-repeat;
}

.most-recent-post-caption
{
    height: 66px;
    background: #FFFFFF;
    padding-right: 13px;
    padding-top: 13px;
    padding: 13px;

}
.most-recent-post-caption__title
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    margin-top: 0px;
    margin-bottom: 0px;
}

.most-recent-post-caption__description
{
    color: #7A7A7A;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    padding-top: 7px;
    margin: 0px;

}

.most-recent-post-info
{  
    display: flex;
    align-items: center;
    justify-content: stretch;
    background: #FCFCFC;
    border-radius: 0px;
    height: 48px;
    margin-top: 2px;
    padding-left: 13px;
    padding-right: 13px;
}

.most-recent-post__author-photo
{
    width: auto;
    height: auto;
    margin-right: 10px;
}

.most-recent-post-info__author
{
    color: #999999;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    justify-content: flex-start;
}

.most-recent-post-info__data
{
    display: flex;
    color: #999999;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    line-height: 35px; 
    margin-left: auto;
}

.basement
{
    background: url(../image/footerbackground.png) no-repeat;
    background-position: center;
    background-size: 100%;
    height:378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.basement-foot-feedback
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../image/footerbackground.png) no-repeat;
    background-position: center;
    background-size: 100%;
    height:378px;
    display: flex;
}

.basement-feedback-title
{
    font-family: 'Oxygen';
    color: #EFEFEF;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center; 
    margin: 0px;
    padding-top: 80px;
    margin-bottom: 40px;
    text-decoration-line: underline;
    text-decoration-color:  #DEDEDE;
    text-underline-offset: 16px;
}

.basement-feedback-form
{
    padding: 0px;
    height: 50px;
    border: none;
    margin-bottom: 90px;
    display: flex;

}

.basement-feedback-form__field
{
    width: 375px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    padding-left: 35px;

}

.basement-feedback-form__button
{
    font-family: 'Oxygen';
    color: #EFEFEF;
    font-weight: 400;
    width: 125px;
    background: rgba(255, 255, 255, 0.28);
    border: none;
    border-radius: 0px 3px 3px 0px;
}

.basement-foot
{
    display: flex;
    margin: 0;
    font-family: 'Oxygen';
    background: rgba(35, 47, 56, 0.6);
    height: 89px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;


}

.basement-foot-menu
{
    font-family: 'Oxygen';
    font-size: 12px;
    color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    
 
    
}

.basement-foot-menu a
{
    color: #FFFFFF99;
    text-decoration: none;
}


.basement-foot__logo
{
    color: #FFFFFF;
    font-family: 'Lora';
    font-style: normal;
    font-size: 26px;
}