<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Escape</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Train+One&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>

<body>
    <header class="top-block">
        <div class="head">
            <span class="head__logo">Escape.</span>
            <nav class="head-menu">
                <a title="Home Page" href="/home" class="head-menu__link" >HOME</a>
                <a title="Categories of posts" href="#" class="head-menu__link">CATEGORIES</a>
                <a title="About us" href="#" class="head-menu__link">ABOUT</a>
                <a title="Our contact" href="#" class="head-menu__link">CONTACT</a>
            </nav>
        </div>
        <h1 class="top-block__title">Let's do it together</h1>
        <h2 class="top-block__subtitle">We travell the world in search of stories. Come along for the ride</h2>
        <div class="top-block-button">
            <button class="top-block-button__text">View Latest posts</button>
        </div>
    </header>
    <div class="submenu">
        <a title="Nature" href="#" class="submenu__link">Nature</a>
        <a title="Photography" href="#" class="submenu__link">Photography</a>
        <a title="Relaxiation" href="#" class="submenu__link">Relaxiation</a>
        <a title="Vacation" href="#" class="submenu__link">Vacation</a>
        <a title="Travel" href="#" class="submenu__link">Travel</a>
        <a title="Adventury" href="#" class="submenu__link">Adventury</a>
    </div> 
    <div class="featured"> 
        <h2 class="featured-posts__title">Featured posts</h2>
        <div  class="featured-posts">
            {{ range .FeaturedPosts }}
            <a href="/post/{{ .PostID }}" class="featured-post {{ .ImgMod }}">
                <h2 class="featured-post__subtitle">{{ .Title }}</h2>
                <p class="featured-post__description">{{ .Subtitle }}</p>
                <div class="featured-post-subdeclaration">
                    <img src="{{ .ImgAuthor }}" alt="{{ .Author }}" class="featured-post__author-photo">
                    <span class="featured-post__author">{{ .Author }}</span>
                    <span class="featured-post__data">{{ .PublishDate }}</span>  
                </div> 
            </a>
            {{ end }}
        </div>
    </div>
    <div class="most-recent">
        <h2 class="most-recent-posts__title">Most Recent</h2>
        <div class="most-recent-posts">
            {{ range .MostRecent }}
            <a style="text-decoration: none"; href="/post/{{ .PostID }}" class="most-recent-post">
                <img src="{{ .ImgPost }}" alt="{{ .Title }}" class="most-recent-post__baloons">
                <div class="most-recent-post-caption">
                    <h3 class="most-recent-post-caption__title">{{ .Title }}</h3>
                    <p class="most-recent-post-caption__description">{{ .Subtitle }}</p>
                </div>
                <div class="most-recent-post-info">
                    <img src="{{ .ImgAuthor }}" alt="{{ .Author }}" class="most-recent-post__author-photo">
                    <span class="most-recent-post-info__author">{{ .Author }}</span>
                    <span class="most-recent-post-info__data">{{ .PublishDate }}</span>
                </div>
            </a>
            {{ end }}        
        </div>
    </div>
    <div class="basement">
        <div class="basement-feedback">
            <h3 class="basement-feedback-title">Stay in Touch</h3>
            <form class="basement-feedback-form"> 
                <input class="basement-feedback-form__field" placeholder="Enter your email address">
                <input type="submit" value="Submit" class="basement-feedback-form__button">
            </form>
        </div>
    <footer class="basement-foot">
        <span class="basement-foot__logo">Esape.</span>
        <divn class="basement-foot-menu">
            <a title="Home Page" href="#" class="basement-foot-menu__link">HOME</a>
            <a title="Categories of posts" href="#" class="basement-foot-menu__link">CATEGORIES</a>
            <a title="About us" href="#" class="basement-foot-menu__link">ABOUT</a>
            <a title="Our contact" href="#" class="basement-foot-menu__link">CONTACT</a>
        </div>
    </footer>
    </div>
</body>
</html>